body {
    font-size: 16px;
    background-color:#f4f4f4;
}

.container {
    width: 95%;
    max-width: 500px;
    margin: 2%;
    
}

.container h1 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    word-break: break-word;
}

.container button {
    width: 98%;
    height: 30px;
    font-size: 16px;
}

.box1 {
    font-size: 15px;
    color: rgb(22, 19, 14);
    margin: auto;
}

.box1 label {
    font-size: 15px;
    line-height: 20px;
}

.box1 input {
    width: 95%;
    max-width: 500px;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    padding: 5px;
    border: black 1px solid;
    
}

.Result {
    font-weight: bolder;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    width: 400px;
    color: rgb(10, 10, 117);
    line-height: 22px;
}

footer {
    font-size: 10px;
    width: 95%;
    text-align: right;
}
